################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/live_papers_models_dev/config/applicationhost.config
/.vs/live_papers_models_dev/v16/.suo
